html, body {
	margin: 0;
	height: 100%;
}

.root {
	height: 100%;
	display: flex;
}

.codemirror-container {
	background-color: #ddd;
	flex: 1;
	height: 100%;
}

.display {
	background-color: #fff;
	flex: 1;
}